.container{
    background-image: url("../images/wall.png");
    display: flex;
    flex-direction: column;
    height: 100vh;
  
}

.menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 90px;
    width: 100%;
    background-color: #0a0909;
    color: #ffffff;
    border-bottom: 5px solid #f0ce0c;
}

.panel{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.square{
    background-color: #14b17c;
    border: 1px solid black;
    height: 150px;
    width: 150px;
}

.enemy{
    background-image: url("../images/ralph.png");
    background-size: cover;
}

.menu-lives{
    display: flex;
    align-items: center;
    justify-content: center;

}

.menu-time h2:nth-child(2),
.menu-score h2:nth-child(2){
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;

}